{% extends 'educational_service/main_page.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% block content %}
<br><br><br> Тема: <br><br>
{{ current_theme }} <br><br><br><br>
{{ info_about_answer }}

<p>{% if messages %}
 {% for message in messages %}
    <div align="center"> <strong>{{ message }}</strong> Больше информации после прохождения теста!</div>
 {% endfor %}
{% endif %}</p>

<form method="POST">
    {% csrf_token %}
    Вопрос:<br>
    <strong>{{question}}</strong>
    <hr>
    {% for answer in answers %}
    {% if question.id == answer.question_id %}
    <br> <input type="checkbox" name="check" value="{{ answer.id }}"> {{ answer.answer }}
    {% endif %}

    {% endfor %}
    {% if queryset_len != 0 %}
    <br><button type="submit"> Ответить </button>
    {% endif %}
</form>

{% if queryset_len == 0 %}
        {% for question in all_questions %}
            {% for info in result_info %}
                {% for item in right_answers %}
                    {% if question.id == info.question_id and item.question.id == question.id %}
                        <br><strong>Вопрос:</strong> {{ question.question }}<br>
                        <strong>Правильно ли вы ответили?</strong> {% if info.is_correct %} Да {% else %} Нет {% endif %} <br><br>
                        <strong>Ваш ответ:</strong> {% for number in info.chosen_answers %}
                                        {% for item in answers %}
                                        {% if number == item.id %}  <br>- {{item.answer}}  {% endif %}
                                        {% endfor %}
                                    {% endfor %}<br>
                        <br><strong>Правильный ответ:</strong> {% for number in item.list_od_answers %}
                                        {% for item in answers %}
                                        {% if number == item.id %}  <br>- {{item.answer}}  {% endif %}
                                        {% endfor %}
                                    {% endfor %}<br><br>
                        <strong>Комментарий:</strong> {{ item.comment }}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
{% endif %}

{% endblock %}
</body>
</html>