{% extends 'educational_service/main_page.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>


{% block content %}
<hr>
{% for item in object_list %}
    {% if item.is_published == True %}
    <br><br> <strong>{{ item }}</strong> <br><a href='{{ item.get_absolute_url_for_description }}'>
        Почитать полезную информацию по теме! </a><br>
    <a href='{{ item.get_absolute_url }}'> Перейти к выполнению теста по теме! </a>
    <hr>
    {% endif %}
{% endfor %}

{% endblock content %}
</body>
</html>